/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 .expand-click{
     text-decoration: dashed;
     cursor: pointer;
 }

 .clickable{
     border-bottom: 1px dashed gray;
 }

 .d-none{
     display:none;
 }

 .pl-5{
     padding-left:2rem;
 }


.btn.disabled, .btn:disabled {
    opacity: .65;
    pointer-events: none;
}