/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 .expand-click{
     text-decoration: dashed;
     cursor: pointer;
 }

 .clickable{
     border-bottom: 1px dashed gray;
 }

 .d-none{
     display:none;
 }

 .pl-5{
     padding-left:2rem;
 }

 .green-text{
    color:green;
 }

.btn.disabled, .btn:disabled {
    opacity: .65;
    pointer-events: none;
}

.inspan > span, .inspan.active span.enable{
    display: none;
}

.inspan span.enable{
    display: inline;
}

.inspan.active span.disable{
    display: inline;
}

.activated-text .dashicons{
    line-height:30px;
}
